*{
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

body{
    font-family: "Roboto", "sans-serif";
    margin: 0;
}

.bg-yellow{
    background-color: #EAC926;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 15px;
}

.bg-light-grey{
    background-color: #ebebeb;
}

.bg-white{
    background-color: #ffffff;
    padding-bottom: 7px;
}

.t-1{
    font-size: 24px;
}

.t-2{
    font-size: 18px;
}

.t-3{
    font-size: 16px;
}

.t-4{
    font-size: 12px;
}

.t-5{
    font-size: 10px;
}

.t-green{
    color: #39b54a;
}

.t-grey{
    color: #666;
}

.d-hide{
    display: none;
}

.d-hide:hover{
    display: block;
    transition: all 12ms
}

.pad-30{
    padding-top: 30px;
}

.center{
    text-align: center;
}

.burger-menu{
    color: #ebebeb;
    text-align: center;
    width: 13%;
    background-color: #0c6cd3;
    padding:10px;
    margin-left: 45%;
    border-radius: 3px;
}    

.cblue{
    color: #0c6cd3;
}

.cblue:hover{
    color:#EAC926;
    transition: all 7ms;
}

.vw-90{
    margin:auto;
    width: 90vw;
}

img{
    width: 100%;
}

.em{
    font-size: 2em;
}

.m-10{
    margin-bottom: 10px;
}

.box{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
}

.w-30{
    display:flex;
    width:30%
}

.w-50{
    display: flex;
    width: 50%;
}

.w-70{
    display:flex;
    width:70%;
    align-items: center;
    justify-content: center;
}

.w-90{
    width: 90%
}

.w-100{
    width: 100%;
}

.truck{
    color: #39b54a;
    display: block;
    padding: 5px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.pad-15{
    padding: 15px;  
}

.b-hid{
    border: none;
}

.end{
    display: flex;
    justify-content: flex-end;
}

.mg-left{
    margin-left: 40px
}

.search{
    margin-left: 30px;
    padding-left: 15px;
    height: 36px;
    border:none;
    border-radius: 5px;
    position: relative;
}

.borde{
    border: none;
    border-radius: 5px;
    height: 30px;
}

.borde-envio{
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 95px;
    font-size: medium;
    background-color: #0c6cd3;
    color: #FFF;
}

.borde-envio:hover{
    background-color: #0022AA;
}

.bt-blue{
    background-color: #0c6cd3;
    margin: 15px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
}

.bt-blue:hover{
    background-color: #0022AA ;
    color: #FFF;
}

.description{
    display: none;
}

.product:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.product:hover .description{
    display:block;
    transition:all 5ms;
}

.deg-90:hover{
    transform: rotateZ(-90deg);
    transition: all 5ms;
}

.n-footer{
    display: flex;
    justify-content: space-around;
}

.space{
    color:black
}

@media (min-width:480px) {
    .b-s{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .d-hide{
        display: block;
    }
    .d-block{
        display: none;
    }
    .w-50{
        display: flex;
        width: 50%;
    }
    .f-align{
        align-self: center;
    }
    .center{
        align-self: center;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .img-flex{
        width: 48%
    }
    .nav-flex-left{
        display: flex;
        justify-content: flex-start;
    }
    .nav-flex-right{
        display: flex;
        justify-content: flex-end;
    }
    .space{
        padding-right: 8px;
    }
    .mg-right{
        margin-right: 45px;
    }
    .mg-left{
        margin-left:0px
    }
    .pad-left{
        padding-left: 65px;
    }
}

@media (min-width:769px){
    .b-s{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .d-hide{
        display: block;
    }
    .d-block{
        display: none;
    }
    .f-align{
        align-self: center;
    }
    .center{
        align-self: center;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .img-flex{
        width: 24.5%
    }
    .nav-flex-left{
        display: flex;
        justify-content: flex-start;
    }
    .nav-flex-right{
        display: flex;
        justify-content: flex-end;
    }
    .space{
        padding-right: 18px;
    }
    .mg-right{
        margin-right: 45px;
    }
    .mg-left{
        margin-left:0px
    }
    .pad-left{
        padding-left: 65px;
    }
}